body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Main content */

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Sidebar */

.sidebar {
     background: #a8a4a6;
     padding-top: 40px;
     padding-bottom: 40px;
     box-sizing: border-box;
     width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Contacts */

.contacts-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161d2a;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-link {
color: #e2e5e9;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-decoration: underline;
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* Skills container */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
color: #161d2a;
font-size: 22px;
font-weight: 700;
line-height: normal;
margin-top: 0;
margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    color: #161d2a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Main content */

.my-profession {
    color: #000;  
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.my-descr {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-info {
    margin-bottom: 40px;
}

/* My projects */

.my-projects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-projects-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-list {
padding-left: 16px;    
}

.my-projects-item-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;    
}

.my-projects-container {
    margin-bottom: 40px;
}

/* Work experience */

.work-experience-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.work-experience-company {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.company-name {
    color: #595959;
}

.work-experience-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work-experience-container {
    margin-bottom: 12px;
}

/* Education */

.education-title {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 8px;
}

.education-university {
    font-weight: 700;
    font-size: 16px;
    color: #595959;
    margin-top: 0px;
    margin-bottom: 8px;
}

.education-speciality {
    font-weight: 700;
    font-size: 14px;
    color: #000; 
    margin-top: 0px;
    margin-bottom: 8px;   
}

.education-period {
font-weight: 400;
font-size: 12px;
color: #a8a8a8;
margin-bottom: 8px;
}

.education-period-separator {
    color: #000;  
}

.education-container {
    margin-top: 40px;
}

.info {
    font-weight: 700;
}

.location {
    margin-top: 40px;
}

@media screen and (max-width: 992px) {
    .column {
     width: 50%;
     }
    }
